/* @import url("style.css"); */
/* .body {
    width: 1440px;
		margin: 0;
}

.headline {
    background-image: url(images/Header\ bg@2x.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
		height: 722px;
  }
  
  .headline h1 {
    font-size: 60px;
  }
nav {
	background-color: chartreuse;
} */
