body {
  background-color: #f7f7f9;
  font-family: "poppins", Helvetica, sans-serif;
  width: 376px;
  margin: 0 auto;
}

.headline-main {
  background-color: #fff;
  height: 718px;
  border-bottom-left-radius: 60px;
  background-image: none;
}

.header nav {
  justify-content: space-between;
  display: flex;
  height: 72px;
}

.header a {
  text-decoration: none;
  padding: 12px 16px;
}

.desktop-link {
  display: none;
}

.mobile-link,
.logo {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  display: flex;
  align-items: center;
}

.headline {
  background-image: url(images/header-shapes\ mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}

.about-me {
  background-color: #fff;
  background-image: none;
  height: 1263px;
  margin-top: 100px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 0;
}

.headline h1 {
  font-family: "poppins", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.37px;
  color: #172b4d;
  line-height: 52px;
}

.headline p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  text-align: justify;
}

.headline a {
  text-decoration: none;
  text-transform: uppercase;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-icons {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;
  padding-left: 0;
}

.social-icons a {
  padding-right: 20px;
  font-size: 20px;
  color: #505f79;
  text-decoration: none;
}

.social-icons li {
  list-style-type: none;
}

.card-works {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 88px;
  padding: 16px;
}

.card {
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 250px;
}

.card-img-1 {
  background-image: url(images/Snapshoot-Portfolio-1.png);
}

.card-img-2 {
  background-image: url(images/Snapshoot-Portfolio-2.png);
}

.card-img-3 {
  background-image: url(images/Snapshoot-Portfolio-3.png);
}

.card-img-4 {
  background-image: url(images/Snapshoot-Portfolio-4.png);
}

.card h2,
.form-page h2 {
  font-size: 32px;
  color: #172b4d;
}

.title-role ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.title-role li {
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
  margin-right: 12px;
}

.role {
  color: #c1c7d0;
}

.title-role i {
  font-size: 8px;
  flex: 1;
}

.languages ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: 40px;
}

.languages li {
  list-style-type: none;
  margin-right: 12px;
}

.languages a {
  text-decoration: none;
  font-size: 12px;
  color: #6070ff;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  font-weight: 500;
}

.resume-button.button {
  width: 180px;
  font-family: "poppins", Helvetica, sans-serif;
}

.button {
  font-size: 17px;
  color: #396df2;
  font-weight: 600;
  border: 1px solid #6070ff;
  padding: 12px;
  border-radius: 8px;
  width: 124px;
}

.button:hover {
  box-shadow: 0 8px rgba(64, 83, 252, 0.24);
  background-color: #6070ff;
  color: #fff;
}

.button:disabled {
  border: 1px solid #c1c7d0;
  cursor: not-allowed;
  color: #5e6c84;
}

.button:active {
  background: #2230d2;
  color: #fff;
}

.skill-list {
  display: grid;
  grid-template-columns: auto;
  list-style: none;
  padding: 0;
}

.list-head {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 23px 0;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #dfe1e6;
}

.first {
  border-bottom: none;
}

.second-list {
  border: 1px solid #f7f7f9;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  padding: 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.second-list span {
  padding: 12px;
}

.form-container {
  background-image: url("images/Contact_me.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 779px;
  position: relative;
  border: 1px solid #fff;
  margin-top: -250px;
}

.form-page {
  height: 650px;
  display: flex;
  flex-direction: column;
  margin-top: 103px;
  align-items: center;
  justify-content: space-around;
  padding: 0 24px;
}

.shapes-img {
  background-image: url("images/contact_form_shapes_mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 265px;
  height: 709px;
  position: absolute;
  margin-left: 113px;
  margin-top: 35px;
  z-index: 1;
}

.form-page h2 {
  color: #fff;
  margin: 0;
  font-size: 40px;
}

.form-page p {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-style: normal;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.name,
.email {
  width: 327px;
  height: 48px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: none;
}

.message {
  width: 327px;
  height: 170px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.button.contact-button {
  width: 140px;
  height: 48px;
}

::placeholder {
  color: #858b94;
  font-size: 18px;
  font-weight: normal;
  font-family: Poppins, sans-serif;
  padding-left: 5px;
}

@media screen and (min-width: 992px) {
  body {
    width: 100%;
  }

  .header .menu {
    height: 40px;
    margin-top: 15px;
    margin-right: 142px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desktop-link {
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 0;
  }

  .header .mobile-link {
    display: none;
  }

  .headline {
    background-image: url(images/Header\ bg@2x.svg);
    width: 95%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: 48px 8px 76px 35px;
    padding: 0;
  }

  .headline .headline-text-container {
    margin: 120px 100px;
    width: 80%;
  }

  .card-works {
    margin-top: 80px;
  }

  .card {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card-2,
  .card-4 {
    flex-direction: row-reverse;
  }

  .card-img,
  .card-text {
    width: 50%;
    height: 448px;
    margin: 0;
  }

  .card-img:hover {
    transform: scale(0.8);
  }

  .card-text {
    padding: 24px;
  }

  .card-img-1 {
    background-image: url(images/Snapshoot-Portfolio-desktop-1.png);
    margin-right: 22px;
  }

  .card-img-2 {
    background-image: url(images/Snapshoot-Portfolio-desktop-2.png);
    margin-left: 22px;
  }

  .card-img-3 {
    background-image: url(images/Snapshoot-Portfolio-desktop-3.png);
    margin-right: 22px;
  }

  .card-img-4 {
    background-image: url(images/Snapshoot-Portfolio-desktop-4.png);
    margin-left: 22px;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: none;
    height: 100vh;
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
  }

  .aboutme-skills {
    width: 60%;
    margin: 100px 100px 100px 0;
  }

  .aboutme-text {
    width: 40%;
    margin: 100px 45px 100px 100px;
  }

  .desktop-second-list {
    display: flex;
    padding: 0;
  }

  .second-list {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    width: 33%;
  }

  .form-container {
    background-image: url(images/desktop-contact\ 2.png);
    margin-top: -90px;
    height: 850px;
  }

  .form-wrapper {
    margin: 78px 75px 0 72px;
    position: relative;
    height: 750px;
  }

  .shapes-img {
    background-image: url(images/desktop-contact-1.png);
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .form-page p {
    width: 45%;
  }

  .form {
    align-items: center;
  }

  .name,
  .email,
  .message {
    width: 450px;
  }

  .name:hover {
    animation-duration: 1s;
    animation-name: slidein;
    /* transition-duration: 1s; */
    /* transition-delay: 1s; */
    /* transform: translate(10px); */
  }

  @keyframes slidein {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translate(10px);
    }
  }
  .form-wrapper p:hover {
    transform: translate(10px);
  }

}
